:root {
	--color-error: #b81111;
	--color-warning: #ffc107;
	--color-success: #198754;
	--color-focus: #26b9ff;

	--color-main-light: #3cc7ec;
	--color-main: #3cc7ec;
	--color-main-dark: #3cc7ec;

	--color-body-background: #f1f1f3;

	--color-font: #000000;

	--color-link: #000000;
	--color-link-hover: #3cc7ec;

	--color-titles: #000000;
}

//===============================================================

// Стилизация скроллбаров
@media (any-hover: hover) {
	::-webkit-scrollbar {
		width: px(10);
		height: px(10);
	}

	::-webkit-scrollbar-track {
		background: #eeeeee;
		box-shadow: 0 0 px(2) rgba(0, 0, 0, 0.2) inset;
	}

	::-webkit-scrollbar-thumb {
		background: var(--color-main-light);
		border-radius: px(5);
		border: px(2) solid #eeeeee;
		&:hover {
			background: var(--color-main);
		}
	}
}

//===============================================================

html {
}

body {
	color: var(--color-font);
	background: var(--color-body-background);
	font-size: rem(16);
	line-height: prc(21, 16);
	&._lock {
		overflow: hidden;
	}

	//---------------------------------------------------------------

	a {
		transition: all 0.3s ease 0s;
		color: var(--color-link);
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-link-hover);
			}
		}
	}

	//---------------------------------------------------------------

	.h1,
	h1 a,
	h1 {
		// font-weight: 500;
		// font-size: rem(40);
		// line-height: prc(42, 40);
		// color: var(--color-titles);
	}
	.h2,
	h2 a,
	h2 {
		color: var(--color-titles);
		font-family: "Cera Pro";
		font-size: rem(58);
		font-weight: 700;
		line-height: normal;
		@media (max-width: em($md2)) {
			font-size: rem(32);
		}
		@media (max-width: em($md3)) {
			font-size: rem(26);
		}
	}
	.h3,
	h3 a,
	h3 {
		color: #000;
		text-align: center;
		font-family: "Cera Pro";
		font-size: 58px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.h4,
	h4 a,
	h4 {
		font-size: rem(21);
		line-height: prc(24, 21);
		color: var(--color-titles);
	}
	.h5,
	h5 a,
	h5 {
		font-size: rem(19);
		line-height: prc(21, 19);
		color: var(--color-titles);
	}

	//---------------------------------------------------------------
	._special-styles {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0px 0px rem(20) 0px;
		}

		a {
			transition: all 0.3s ease 0s;
			color: var(--color-link);
			@media (any-hover: hover) {
				&:hover {
					color: var(--color-main-dark);
				}
			}
		}

		p {
			font-size: rem(18);
			line-height: 144.444%;
		}

		mark {
			font-size: rem(18);
			line-height: 144.444%;
			display: inline-block;
			background: unset;
			color: var(--color-main);
		}

		figure {
			display: inline-block;
			margin: 0px 0px rem(20) 0px;
			img {
				border-radius: rem(5);
			}
		}

		ul {
			font-size: rem(18);
			line-height: 144.444%;
			padding: 0px 0px 0px rem(22);
			li {
				position: relative;
				line-height: 150%;
				// margin: 0px 0px rem(10) 0px;
				& > ul,
				& > ol {
					padding-top: rem(10);
				}
				&::before {
					content: "";
					position: absolute;
					top: em(9);
					left: em(-18);
					width: em(6);
					height: em(6);
					// background: var(--color-main-dark);
					background: #000;
					border-radius: 50%;
				}
			}
		}

		ol {
			padding: 0px 0px 0px rem(22);
			margin: 0px 0px rem(15) 0px;
			li {
				line-height: 150%;
				margin: 0px 0px rem(10) 0px;
				& > ul,
				& > ol {
					padding-top: rem(10);
				}
			}
		}

		table {
			max-width: 100%;
			border-collapse: collapse;
			margin: 0px 0px rem(40) 0px;
			@media (max-width: ($md3+"px")) {
				margin: 0px 0px rem(20) 0px;
			}
			tr {
				th {
					font-size: rem(16);
					font-weight: 400;
					background: #111111;
					padding: rem(5) rem(10);
					border: 1px solid #000000;
					color: #ffffff;
				}
				td {
					background: #dddddd;
					border: 1px solid #000000;
					padding: rem(5) rem(10);
				}
			}
		}

		.table-wrapper {
			width: 100%;
			overflow-x: auto;
		}
	}
}

// Оболочка контента сайта. Необходимма, чтобы футер всегда был прижат к низу экрана
.wrapper {
	display: grid;
	grid-template-rows: 1fr auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&._loaded {
	}
}

// Основной блок
.page {
	min-width: 0;
	// .page__section
	&__section {
		margin: 0px 0px rem(100) 0px;
	}
}
