.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(50);
		padding: rem(60) 0px;
		@media (max-width: em($md0)) {
			gap: rem(30);
		}
		@media (max-width: em($md2)) {
			padding: rem(30) 0px;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 100;
		flex: 0 0 rem(303);
		display: flex;
		align-items: center;

		@media (max-width: em($md2)) {
			flex: 0 0 rem(250);
		}
	}
	// .header__content
	&__content {
		display: flex;
		gap: rem(60);
		align-items: center;
		@media (max-width: em($md0)) {
			gap: rem(0);
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__actions
	&__actions {
		display: flex;
		gap: rem(30);
		align-items: center;
	}
	// .header__phone
	&__phone {
		white-space: nowrap;
		text-decoration: underline;
		color: #fff;
		font-size: rem(20);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: em($md2)) {
			display: none;
		}
	}
	// .header__socials
	&__socials {
		display: flex;
		gap: rem(15);
		align-items: center;
		@media (max-width: em($md2)) {
			display: none;
		}
	}
	// .header__wu
	&__wu {
		color: #fff;
	}
	// .header__tg
	&__tg {
		color: #fff;
	}
	// .header__btn
	&__btn {
		position: relative;
		z-index: 100;
		white-space: nowrap;
		height: rem(45);
		font-size: rem(20);
		@media (max-width: em($md2)) {
			height: rem(32);
			font-size: rem(18);
		}
		@media (max-width: em($md3)) {
			display: none;
		}
	}
}

//===============================================================
.menu {
	// .menu__body
	&__body {
		@media (max-width: em($md0)) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100vh;
			overflow-x: hidden;
			overflow-y: auto;
			background: rgba(0, 0, 0, 0.9);
			display: flex;
			gap: rem(50);
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease 0s;
			opacity: 0;
			visibility: hidden;
			padding: rem(100) 0px rem(30) 0px;
			&._active {
				top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .menu__close
	&__close {
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: rem(10) rem(30);
		@media (max-width: em($md0)) {
			display: grid;
			justify-items: center;
			gap: rem(30);
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		white-space: nowrap;
		color: #fff;
		font-family: "Circe";
		font-size: rem(21);
		@media (max-width: em($md0)) {
			font-size: rem(26);
		}
	}
	// .menu__actions
	&__actions {
		display: grid;
		justify-items: center;
		gap: rem(20);
		@media (min-width: em($md2+1)) {
			display: none;
		}
	}
	// .menu__phone
	&__phone {
		color: #fff;
	}
	// .menu__socials
	&__socials {
		display: flex;
		gap: rem(30);
	}
	// .menu__wu
	&__wu {
		color: #fff;
	}
	// .menu__tg
	&__tg {
		color: #fff;
	}
	// .menu__btn
	&__btn {
		@media (min-width: em($md3+1)) {
			display: none;
		}
	}
}
