.slider-section {
	position: relative;
	// .slider-section__slider
	&__slider {
		height: 100%;
	}
	// .slider-section__contacts
	&__contacts {
	}
}

//===============================================================
.main-slider {
	position: relative;
	height: 100vh;
	min-height: rem(600);
	// .main-slider__slides
	&__slides {
	}
	// .main-slider__slide
	&__slide {
		@media (max-width: em($md3)) {
			padding: rem(150) 0px rem(300) 0px;
		}
	}
	// .main-slider__arrows
	&__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		translate: 0 -50%;
		display: flex;
		justify-content: space-between;
		z-index: 10;
		@media (max-width: em($md3)) {
			display: none;
		}
	}
	// .main-slider__arrow
	&__arrow {
		padding: rem(15);
		color: #737a7d;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
		// .main-slider__arrow_prev
		&_prev {
		}
		// .main-slider__arrow_next
		&_next {
		}
	}
	// .main-slider__pagination
	&__pagination {
		position: absolute;
		bottom: 25%;
		left: 50%;
		translate: -50% 0;
		z-index: 10;
		display: flex;
		gap: rem(13);
		@media (max-width: em($md2)) {
			display: none;
		}
	}
	// .main-slider__bullet
	&__bullet {
		cursor: pointer;
		display: inline-block;
		background: #d9d9d9;
		width: rem(12);
		height: rem(12);
		transition: all 0.3s ease 0s;
		border-radius: rem(999);
		&._active {
			background: #353637;
		}
	}
}

//---------------------------------------------------------------
.slide {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// .slide__container
	&__container {
	}
	// .slide__content
	&__content {
		display: grid;
		justify-items: center;
		gap: rem(30);
	}
	// .slide__title
	&__title {
		color: #fff;
		text-align: center;
	}
	// .slide__btn
	&__btn {
	}
	// .slide__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

//===============================================================
.slider-contacts {
	position: absolute;
	z-index: 10;
	padding: 0px rem(30) rem(60);
	bottom: 0;
	left: 0;
	width: 100%;
	// .slider-contacts__container
	&__container {
	}
	// .slider-contacts__body
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(10) rem(30);
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .slider-contacts__item
	&__item {
		display: grid;
		justify-items: center;
		align-content: start;
		align-items: start;
	}
	// .slider-contacts__param
	&__param {
		color: #fff;
		text-align: center;
		font-size: rem(23);
		font-weight: 700;
		margin: 0px 0px rem(10) 0px;
		@media (max-width: em($md2)) {
			font-size: rem(18);
		}
		@media (max-width: em($md3)) {
			font-size: rem(16);
		}
	}
	// .slider-contacts__value
	&__value {
		color: #737a7d;
		text-align: center;
		font-family: "Cera Pro";
		font-size: rem(21);
		line-height: 114.286%;
		max-width: rem(300);
		a {
			color: #737a7d;
		}
		@media (max-width: em($md2)) {
			font-size: rem(16);
		}
		@media (max-width: em($md3)) {
			font-size: rem(14);
			max-width: unset;
		}
	}
}

//===============================================================
.catalog {
	padding: rem(150) rem(0);
	@media (max-width: em($md2)) {
		padding: rem(100) rem(0);
	}
	@media (max-width: em($md3)) {
		padding: rem(50) rem(0);
	}
	// .catalog__container
	&__container {
	}
	// .catalog__body
	&__body {
		display: grid;
		gap: rem(30);
		grid-template-columns: 46% 1fr 1fr;
		@media (max-width: em($md0)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .catalog__item
	&__item {
	}
}

//---------------------------------------------------------------
.catalog-item {
	position: relative;
	border-radius: rem(30);
	background: #fff;
	overflow: hidden;
	// .catalog-item__main
	&__main {
		position: relative;
		text-align: center;
		display: grid;
		justify-items: center;
		gap: rem(10);
		padding: rem(20);
	}
	// .catalog-item__img
	&__img {
		width: rem(200);
		height: rem(200);
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	// .catalog-item__title
	&__title {
		font-size: rem(26);
		font-weight: 500;
		@media (max-width: em($md2)) {
			font-size: rem(24);
		}
		@media (max-width: em($md3)) {
			font-size: rem(22);
		}
	}
	// .catalog-item__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		right: 0;
		translate: 0 -50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		background: var(--color-main);
		border-radius: rem(30) 0px 0px rem(30);
		width: rem(35);
		height: rem(35);
	}
	// .catalog-item__content
	&__content {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: all 0.3s ease 0s;
		background: rgba(0, 0, 0, 0.7);
		padding: rem(30);
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(20);
		@media (any-hover: hover) {
			.catalog-item:hover & {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .catalog-item__sub-title
	&__sub-title {
		color: #fff;
		font-size: rem(26);
		font-weight: 700;
		@media (max-width: em($md2)) {
			font-size: rem(24);
		}
		@media (max-width: em($md3)) {
			font-size: rem(22);
		}
	}
	// .catalog-item__desc
	&__desc {
		// flex: 1 1 auto;
		color: #fff;
		font-size: rem(19);
	}
	// .catalog-item__actions
	&__actions {
		display: grid;
		justify-items: center;
		gap: rem(10);
	}
	// .catalog-item__btn
	&__btn {
		width: rem(230);
	}

	@media (min-width: em($md0)) {
		// .catalog-item_big
		&_big {
			.catalog-item__title {
				font-size: rem(30);
			}
		}
		// .catalog-item_tall
		&_tall {
			grid-row: span 2;
			.catalog-item__main {
				gap: rem(30);
			}
			.catalog-item__img {
				height: rem(450);
				width: rem(450);
			}
		}
		// .catalog-item_long
		&_long {
			grid-column: span 2;
		}
		// .catalog-item_horizontal
		&_horizontal {
			.catalog-item__main {
				grid-template-columns: auto 1fr;
				align-items: center;
				text-align: left;
				gap: rem(30);
			}
			.catalog-item__img {
				height: rem(240);
				width: rem(240);
			}
			.catalog-item__title {
				padding: 0px rem(50) 0px 0px;
			}
		}
	}
}

//===============================================================
.product-details {
	padding: rem(60) 0px rem(120);
	min-width: 0px;
	// .product-details__container
	&__container {
	}
	// .product-details__body
	&__body {
		min-width: 0px;
	}
	// .product-details__title
	&__title {
		margin: 0px 0px rem(70) 0px;
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(50) 0px;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .product-details__line
	&__line {
	}
	// .product-details__content
	&__content {
	}
}

//---------------------------------------------------------------
.details-line {
	display: grid;
	grid-template-columns: 63.33% 1fr;
	border-radius: rem(30);
	overflow: hidden;
	margin: 0px 0px rem(60) 0px;
	@media (max-width: em($md0)) {
		height: rem(100);
		margin: 0px 0px rem(50) 0px;
	}
	@media (max-width: em($md1)) {
		grid-template-columns: 1fr;
		height: auto;
		margin: 0px 0px rem(40) 0px;
	}
	@media (max-width: em($md2)) {
		margin: 0px 0px rem(30) 0px;
	}
	// .details-line__left
	&__left {
		padding: rem(15) rem(55) rem(15) rem(15);
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f1f1f3;
		@media (max-width: em($md0)) {
			padding: rem(15) rem(15);
		}
		@media (max-width: em($md1)) {
			display: grid;
			gap: rem(25);
		}
	}
	// .details-line__item
	&__item {
		display: flex;
		gap: rem(16);
		align-items: center;
		color: #000;
		font-size: rem(23);
		font-weight: 500;
		padding: 0px rem(15);
		line-height: 1;
	}
	// .details-line__right
	&__right {
	}
	// .details-line__btn
	&__btn {
		padding: rem(10) rem(30);
		text-align: left;
		line-height: 1;
	}
}

//---------------------------------------------------------------
.line-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: rem(16);
	color: #fff;
	font-size: rem(23);
	font-weight: 500;
	background: var(--color-main);
	height: 100%;
	width: 100%;
	// .line-btn__icon
	&__icon {
	}
}

//---------------------------------------------------------------
.details-content {
	min-width: 0px;
	display: grid;
	grid-template-columns: 63.33% 1fr;
	@media (max-width: em($md1)) {
		display: block;
	}
	// .details-content__left
	&__left {
		@media (min-width: em($md1+1)) {
			padding: 0px rem(30) 0px 0px;
		}
		@media (max-width: em($md1)) {
			margin: 0px 0px rem(30) 0px;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(20) 0px;
		}
	}
	// .details-content__footer
	&__footer {
	}
	// .details-content__right
	&__right {
		@media (min-width: em($md1+1)) {
			padding: 0px 0px 0px rem(30);
		}
	}
	// .details-content__text
	&__text {
		margin: 0px 0px rem(30) 0px;
		display: grid;
		gap: rem(30);
		@media (max-width: em($md1)) {
			gap: rem(20);
		}
		@media (max-width: em($md2)) {
			gap: rem(15);
		}
	}
	// .details-content__params
	&__params {
	}
}

//---------------------------------------------------------------
.details-slider {
	position: relative;
	margin: 0px 0px rem(60) 0px;
	@media (max-width: em($md2)) {
		margin: 0px 0px rem(45) 0px;
	}
	@media (max-width: em($md3)) {
		margin: 0px 0px rem(30) 0px;
	}
	// .details-slider__slides
	&__slides {
	}
	// .details-slider__slide
	&__slide {
	}
	// .details-slider__arrows
	&__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		translate: 0 -50%;
		display: flex;
		justify-content: space-between;
		z-index: 5;
		pointer-events: none;
	}
	// .details-slider__arrow
	&__arrow {
		cursor: pointer;
		padding: rem(20);
		pointer-events: all;
		// .details-slider__arrow_prev
		&_prev {
		}
		// .details-slider__arrow_prev
		&_prev {
		}
		// .details-slider__arrow_next
		&_next {
		}
		// .details-slider__arrow_next
		&_next {
		}
	}
}

//---------------------------------------------------------------
.details-slide {
	position: relative;
	padding: 0px 0px prc(400, 1110) 0px;
	// .details-slide__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//---------------------------------------------------------------
.details-footer {
	// .details-footer__title
	&__title {
		font-family: "Circe";
		font-size: rem(32);
		font-weight: 700;
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md2)) {
			font-size: rem(28);
			margin: 0px 0px rem(20) 0px;
		}
		@media (max-width: em($md3)) {
			font-size: rem(24);
		}
	}
	// .details-footer__body
	&__body {
		display: grid;
		grid-template-columns: 44% 56%;
		gap: rem(20);
		@media (max-width: em($md1)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em($md2)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .details-footer__item
	&__item {
	}
}

//---------------------------------------------------------------
.details-footer-item {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: rem(10);
	// .details-footer-item__left
	&__left {
		padding: 0px rem(10);
	}
	// .details-footer-item__right
	&__right {
		display: flex;
		flex-direction: column;
		gap: rem(10) rem(30);
	}
	// .details-footer-item__text
	&__text {
		flex: 1 1 auto;
		font-size: rem(18);
		line-height: 144.444%;
	}
	// .details-footer-item__actions
	&__actions {
	}
	// .details-footer-item__btn
	&__btn {
	}
}

//---------------------------------------------------------------
.details-params {
	// .details-params__title
	&__title {
		font-family: "Circe";
		font-size: rem(26);
		font-weight: 700;
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md2)) {
			font-size: rem(24);
			margin: 0px 0px rem(20) 0px;
		}
		@media (max-width: em($md3)) {
			font-size: rem(22);
		}
	}
	// .details-params__list
	&__list {
		display: grid;
		font-size: rem(18);
		line-height: 144.444%;
	}
	// .details-params__row
	&__row {
		display: flex;
		justify-content: space-between;
		padding: rem(10);
		&:nth-child(odd) {
			background-color: #f1f1f3;
		}
	}
	// .details-params__term
	&__term {
	}
	// .details-params__def
	&__def {
	}
}

//===============================================================
