.slider-section {
	position: relative;
	// .slider-section__slider
	&__slider {
		height: 100%;
	}
	// .slider-section__contacts
	&__contacts {
	}
}

//===============================================================
.main-slider {
	position: relative;
	height: 100vh;
	min-height: rem(600);
	// .main-slider__slides
	&__slides {
	}
	// .main-slider__slide
	&__slide {
		@media (max-width: em($md3)) {
			padding: rem(150) 0px rem(300) 0px;
		}
	}
	// .main-slider__arrows
	&__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		translate: 0 -50%;
		display: flex;
		justify-content: space-between;
		z-index: 10;
		@media (max-width: em($md3)) {
			display: none;
		}
	}
	// .main-slider__arrow
	&__arrow {
		padding: rem(15);
		color: #737a7d;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
		// .main-slider__arrow_prev
		&_prev {
		}
		// .main-slider__arrow_next
		&_next {
		}
	}
	// .main-slider__pagination
	&__pagination {
		position: absolute;
		bottom: 25%;
		left: 50%;
		translate: -50% 0;
		z-index: 10;
		display: flex;
		gap: rem(13);
		@media (max-width: em($md2)) {
			display: none;
		}
	}
	// .main-slider__bullet
	&__bullet {
		cursor: pointer;
		display: inline-block;
		background: #d9d9d9;
		width: rem(12);
		height: rem(12);
		transition: all 0.3s ease 0s;
		border-radius: rem(999);
		&._active {
			background: #353637;
		}
	}
}

//---------------------------------------------------------------
.slide {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	// .slide__container
	&__container {
	}
	// .slide__content
	&__content {
		display: grid;
		justify-items: center;
		gap: rem(30);
	}
	// .slide__title
	&__title {
		color: #fff;
		text-align: center;
	}
	// .slide__btn
	&__btn {
	}
	// .slide__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

//===============================================================
.slider-contacts {
	position: absolute;
	z-index: 10;
	padding: 0px rem(30) rem(60);
	bottom: 0;
	left: 0;
	width: 100%;
	// .slider-contacts__container
	&__container {
	}
	// .slider-contacts__body
	&__body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(10) rem(30);
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .slider-contacts__item
	&__item {
		display: grid;
		justify-items: center;
		align-content: start;
		align-items: start;
	}
	// .slider-contacts__param
	&__param {
		color: #fff;
		text-align: center;
		font-size: rem(23);
		font-weight: 700;
		margin: 0px 0px rem(10) 0px;
		@media (max-width: em($md2)) {
			font-size: rem(18);
		}
		@media (max-width: em($md3)) {
			font-size: rem(16);
		}
	}
	// .slider-contacts__value
	&__value {
		color: #737a7d;
		text-align: center;
		font-family: "Cera Pro";
		font-size: rem(21);
		line-height: 114.286%;
		max-width: rem(300);
		a {
			color: #737a7d;
		}
		@media (max-width: em($md2)) {
			font-size: rem(16);
		}
		@media (max-width: em($md3)) {
			font-size: rem(14);
			max-width: unset;
		}
	}
}

//===============================================================
.catalog {
	padding: rem(150) rem(0);
	@media (max-width: em($md2)) {
		padding: rem(100) rem(0);
	}
	@media (max-width: em($md3)) {
		padding: rem(50) rem(0);
	}
	// .catalog__container
	&__container {
	}
	// .catalog__body
	&__body {
		display: grid;
		gap: rem(30);
		grid-template-columns: 46% 1fr 1fr;
		@media (max-width: em($md0)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
			gap: rem(20);
		}
	}
	// .catalog__item
	&__item {
	}
}

//---------------------------------------------------------------
.catalog-item {
	position: relative;
	border-radius: rem(30);
	background: #fff;
	overflow: hidden;
	// .catalog-item__main
	&__main {
		position: relative;
		text-align: center;
		display: grid;
		justify-items: center;
		gap: rem(10);
		padding: rem(20);
	}
	// .catalog-item__img
	&__img {
		width: rem(200);
		height: rem(200);
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	// .catalog-item__title
	&__title {
		font-size: rem(26);
		font-weight: 500;
		@media (max-width: em($md2)) {
			font-size: rem(24);
		}
		@media (max-width: em($md3)) {
			font-size: rem(22);
		}
	}
	// .catalog-item__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		right: 0;
		translate: 0 -50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		background: var(--color-main);
		border-radius: rem(30) 0px 0px rem(30);
		width: rem(35);
		height: rem(35);
	}
	// .catalog-item__content
	&__content {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: all 0.3s ease 0s;
		background: rgba(0, 0, 0, 0.7);
		padding: rem(30);
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(20);
		@media (any-hover: hover) {
			.catalog-item:hover & {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .catalog-item__sub-title
	&__sub-title {
		color: #fff;
		font-size: rem(26);
		font-weight: 700;
		@media (max-width: em($md2)) {
			font-size: rem(24);
		}
		@media (max-width: em($md3)) {
			font-size: rem(22);
		}
	}
	// .catalog-item__desc
	&__desc {
		// flex: 1 1 auto;
		color: #fff;
		font-size: rem(19);
	}
	// .catalog-item__actions
	&__actions {
		display: grid;
		justify-items: center;
		gap: rem(10);
	}
	// .catalog-item__btn
	&__btn {
		width: rem(230);
	}

	@media (min-width: em($md0)) {
		// .catalog-item_big
		&_big {
			.catalog-item__title {
				font-size: rem(30);
			}
		}
		// .catalog-item_tall
		&_tall {
			grid-row: span 2;
			.catalog-item__main {
				gap: rem(30);
			}
			.catalog-item__img {
				height: rem(450);
				width: rem(450);
			}
		}
		// .catalog-item_long
		&_long {
			grid-column: span 2;
		}
		// .catalog-item_horizontal
		&_horizontal {
			.catalog-item__main {
				grid-template-columns: auto 1fr;
				align-items: center;
				text-align: left;
				gap: rem(30);
			}
			.catalog-item__img {
				height: rem(240);
				width: rem(240);
			}
			.catalog-item__title {
				padding: 0px rem(50) 0px 0px;
			}
		}
	}
}

//===============================================================
.product-details {
	padding: rem(60) 0px rem(120);
	min-width: 0px;
	// .product-details__container
	&__container {
	}
	// .product-details__body
	&__body {
		min-width: 0px;
	}
	// .product-details__title
	&__title {
		margin: 0px 0px rem(70) 0px;
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(50) 0px;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .product-details__line
	&__line {
	}
	// .product-details__content
	&__content {
	}
}

//---------------------------------------------------------------
.details-line {
	display: grid;
	grid-template-columns: 63.33% 1fr;
	border-radius: rem(30);
	overflow: hidden;
	margin: 0px 0px rem(60) 0px;
	height: rem(127);
	@media (max-width: em($md0)) {
		height: rem(100);
		margin: 0px 0px rem(50) 0px;
	}
	@media (max-width: em($md1)) {
		grid-template-columns: 1fr;
		height: auto;
		margin: 0px 0px rem(40) 0px;
	}
	@media (max-width: em($md2)) {
		margin: 0px 0px rem(30) 0px;
	}
	// .details-line__left
	&__left {
		padding: rem(15) rem(55) rem(15) rem(15);
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f1f1f3;
		@media (max-width: em($md0)) {
			padding: rem(15) rem(15);
		}
		@media (max-width: em($md1)) {
			display: grid;
			gap: rem(25);
		}
	}
	// .details-line__item
	&__item {
		display: flex;
		gap: rem(16);
		align-items: center;
		color: #000;
		font-size: rem(23);
		font-weight: 500;
		padding: 0px rem(15);
		line-height: 1;
	}
	// .details-line__right
	&__right {
	}
	// .details-line__btn
	&__btn {
		padding: rem(10) rem(30);
		text-align: left;
		line-height: 1;
	}
}

//---------------------------------------------------------------
.line-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: rem(16);
	color: #fff;
	font-size: rem(23);
	font-weight: 500;
	background: var(--color-main);
	height: 100%;
	width: 100%;
	// .line-btn__icon
	&__icon {
	}
}

//---------------------------------------------------------------
.details-content {
	min-width: 0px;
	display: grid;
	grid-template-columns: 63.33% 1fr;
	@media (max-width: em($md1)) {
		display: block;
	}
	// .details-content__left
	&__left {
		@media (min-width: em($md1+1)) {
			padding: 0px rem(30) 0px 0px;
		}
		@media (max-width: em($md1)) {
			margin: 0px 0px rem(30) 0px;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(20) 0px;
		}
	}
	// .details-content__footer
	&__footer {
	}
	// .details-content__right
	&__right {
		@media (min-width: em($md1+1)) {
			padding: 0px 0px 0px rem(30);
		}
	}
	// .details-content__text
	&__text {
		margin: 0px 0px rem(30) 0px;
		display: grid;
		gap: rem(30);
		@media (max-width: em($md1)) {
			gap: rem(20);
		}
		@media (max-width: em($md2)) {
			gap: rem(15);
		}
	}
	// .details-content__params
	&__params {
	}
}

//---------------------------------------------------------------
.details-slider {
	position: relative;
	margin: 0px 0px rem(60) 0px;
	@media (max-width: em($md2)) {
		margin: 0px 0px rem(45) 0px;
	}
	@media (max-width: em($md3)) {
		margin: 0px 0px rem(30) 0px;
	}
	// .details-slider__slides
	&__slides {
	}
	// .details-slider__slide
	&__slide {
	}
	// .details-slider__arrows
	&__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		translate: 0 -50%;
		display: flex;
		justify-content: space-between;
		z-index: 5;
		pointer-events: none;
	}
	// .details-slider__arrow
	&__arrow {
		cursor: pointer;
		padding: rem(20);
		pointer-events: all;
		// .details-slider__arrow_prev
		&_prev {
		}
		// .details-slider__arrow_prev
		&_prev {
		}
		// .details-slider__arrow_next
		&_next {
		}
		// .details-slider__arrow_next
		&_next {
		}
	}
}

//---------------------------------------------------------------
.details-slide {
	position: relative;
	padding: 0px 0px prc(400, 1110) 0px;
	// .details-slide__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//---------------------------------------------------------------
.details-footer {
	// .details-footer__title
	&__title {
		font-family: "Circe";
		font-size: rem(32);
		font-weight: 700;
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md2)) {
			font-size: rem(28);
			margin: 0px 0px rem(20) 0px;
		}
		@media (max-width: em($md3)) {
			font-size: rem(24);
		}
	}
	// .details-footer__body
	&__body {
		display: grid;
		grid-template-columns: 44% 56%;
		gap: rem(20);
		@media (max-width: em($md1)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em($md2)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .details-footer__item
	&__item {
	}
}

//---------------------------------------------------------------
.details-footer-item {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: rem(10);
	// .details-footer-item__left
	&__left {
		padding: 0px rem(10);
	}
	// .details-footer-item__right
	&__right {
		display: flex;
		flex-direction: column;
		gap: rem(30);
		@media (max-width: em($md2)) {
			gap: rem(10);
		}
	}
	// .details-footer-item__text
	&__text {
		flex: 1 1 auto;
		font-size: rem(18);
		line-height: 144.444%;
	}
	// .details-footer-item__actions
	&__actions {
	}
	// .details-footer-item__btn
	&__btn {
	}
}

//---------------------------------------------------------------
.details-params {
	// .details-params__title
	&__title {
		font-family: "Circe";
		font-size: rem(26);
		font-weight: 700;
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md2)) {
			font-size: rem(24);
			margin: 0px 0px rem(20) 0px;
		}
		@media (max-width: em($md3)) {
			font-size: rem(22);
		}
	}
	// .details-params__list
	&__list {
		display: grid;
		font-size: rem(18);
		line-height: 144.444%;
	}
	// .details-params__row
	&__row {
		display: flex;
		justify-content: space-between;
		padding: rem(10);
		&:nth-child(odd) {
			background-color: #f1f1f3;
		}
	}
	// .details-params__term
	&__term {
	}
	// .details-params__def
	&__def {
	}
}

//===============================================================
.about {
	margin: 0px 0px rem(150) 0px;
	@media (max-width: em($md2)) {
		margin: 0px 0px rem(100) 0px;
	}
	@media (max-width: em($md3)) {
		margin: 0px 0px rem(50) 0px;
	}
	// .about__container
	&__container {
	}
	// .about__title
	&__title {
		text-align: center;
		margin: 0px 0px rem(60) 0px;
		@media (max-width: em($md1)) {
			margin: 0px 0px rem(30) 0px;
		}
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(20) 0px;
		}
	}
	// .about__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(30);
		margin: 0px 0px rem(85) 0px;
		@media (max-width: em($md1)) {
			grid-template-columns: repeat(1, 1fr);
			margin: 0px 0px rem(60) 0px;
		}
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(50) 0px;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(40) 0px;
		}
	}
	// .about__left
	&__left {
		font-size: rem(23);
		line-height: 156.522%;
		display: grid;
		align-content: center;
		gap: rem(35);
		@media (max-width: em($md2)) {
			font-size: rem(21);
			gap: rem(30);
		}
		@media (max-width: em($md3)) {
			font-size: rem(18);
			gap: rem(20);
		}
	}
	// .about__right
	&__right {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(30);
		@media (max-width: em($md2)) {
			gap: rem(20);
		}
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .about__item
	&__item {
	}
	// .about__footer
	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .about__btn
	&__btn {
	}
}

//---------------------------------------------------------------
.about-item {
	border-radius: rem(30);
	background: #fff;
	text-align: center;
	display: grid;
	justify-items: center;
	align-content: center;
	padding: rem(20) rem(30);
	@media (min-width: em($md1+1)) {
		min-height: rem(190);
		&:nth-child(odd) {
			translate: 0 rem(25);
		}
		&:nth-child(even) {
			translate: 0 rem(-25);
		}
	}
	@media (max-width: em($md2)) {
		border-radius: rem(20);
	}
	@media (max-width: em($md3)) {
		border-radius: rem(12);
	}
	// .about-item__num
	&__num {
		font-size: rem(36);
		font-weight: 700;
		line-height: normal;
	}
	// .about-item__text
	&__text {
		font-size: rem(20);
		line-height: normal;
		@media (max-width: em($md3)) {
			font-size: rem(18);
		}
	}
}

//===============================================================
.how {
	background: #fff;
	padding: rem(90) 0 rem(180);
	@media (max-width: em($md2)) {
		padding: rem(80) rem(0);
	}
	@media (max-width: em($md3)) {
		padding: rem(50) rem(0);
	}
	// .how__container
	&__container {
	}
	// .how__title
	&__title {
		text-align: center;
		margin: 0px 0px rem(90) 0px;
		@media (max-width: em($md1)) {
			margin: 0px 0px rem(70) 0px;
		}
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(50) 0px;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .how__body
	&__body {
		display: flex;
		@media (max-width: em($md1)) {
			display: grid;
			gap: rem(36);
		}
		@media (max-width: em($md2)) {
			gap: rem(28);
		}
		@media (max-width: em($md3)) {
			gap: rem(20);
		}
	}
	// .how__left
	&__left {
		display: grid;
		gap: rem(36);
		flex: 0 1 50%;
		text-align: right;
		@media (max-width: em($md1)) {
			text-align: left;
			order: 1;
		}
		@media (max-width: em($md2)) {
			gap: rem(28);
		}
		@media (max-width: em($md3)) {
			gap: rem(20);
		}
	}
	// .how__center
	&__center {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		flex: 1 1 auto;
		padding: 0px rem(50);
		align-self: center;
		@media (max-width: em($md0)) {
			padding: 0px rem(30);
		}
		@media (max-width: em($md1)) {
			padding: rem(20) 0px 0px 0px;
			order: 3;
		}
		@media (max-width: em($md3)) {
		}
	}
	// .how__img
	&__img {
		width: rem(400);
		height: rem(400);
		border-radius: 50%;
		border: rem(20) solid #f1f1f3;
		overflow: hidden;
		@media (max-width: em($md0)) {
			width: rem(300);
			height: rem(300);
		}
		@media (max-width: em($md1)) {
			width: rem(400);
			height: rem(400);
		}
		@media (max-width: em($md3)) {
			width: rem(300);
			height: rem(300);
		}
	}
	// .how__btn
	&__btn {
		position: absolute;
		bottom: 20%;
		left: 50%;
		translate: -50% 0;
		height: rem(56);
		font-size: rem(21);
		@media (max-width: em($md1)) {
			bottom: 50%;
			left: 50%;
			translate: -50% 100%;
		}
		@media (max-width: em($md3)) {
			height: rem(32);
			font-size: rem(18);
			padding: rem(5) rem(15);
			white-space: nowrap;
		}
	}
	// .how__right
	&__right {
		display: grid;
		gap: rem(36);
		flex: 0 1 50%;
		@media (max-width: em($md1)) {
			order: 2;
		}
		@media (max-width: em($md2)) {
			gap: rem(28);
		}
		@media (max-width: em($md3)) {
			gap: rem(20);
		}
	}
}

//---------------------------------------------------------------
.how-item {
	// .how-item__title
	&__title {
	}
	// .how-item__text
	&__text {
		font-size: rem(18);
		line-height: 144.444%;
		@media (max-width: em($md3)) {
			font-size: rem(16);
		}
	}
}

//===============================================================
.projects {
	padding: rem(90) 0;
	@media (max-width: em($md2)) {
		padding: rem(80) rem(0);
	}
	@media (max-width: em($md3)) {
		padding: rem(50) rem(0);
	}
	// .projects__container
	&__container {
	}
	// .projects__title
	&__title {
		text-align: center;
		margin: 0px 0px rem(40) 0px;
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
}

//---------------------------------------------------------------
.projects-slider {
	// .projects-slider__slides
	&__slides {
		margin: 0px 0px rem(42) 0px;
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(35) 0px;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .projects-slider__slide
	&__slide {
	}
	// .projects-slider__arrows
	&__arrows {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: em($md3)) {
			gap: rem(20);
		}
	}
	// .projects-slider__arrow
	&__arrow {
		cursor: pointer;
		padding: rem(12) rem(16);
		display: inline-flex;
		// .projects-slider__arrow_prev
		&_prev {
		}
		// .projects-slider__arrow_next
		&_next {
		}
	}
	// .projects-slider__title
	&__title {
		font-size: rem(26);
		@media (max-width: em($md2)) {
			font-size: rem(23);
		}
		@media (max-width: em($md3)) {
			font-size: rem(20);
		}
	}
}

//---------------------------------------------------------------
.projects-slide {
	display: grid;
	grid-template-columns: 55% 1fr;
	border-radius: rem(30);
	overflow: hidden;
	@media (max-width: em($md1)) {
		grid-template-columns: 1fr 30%;
	}
	@media (max-width: em($md2)) {
		grid-template-columns: 1fr;
	}
	// .projects-slide__content
	&__content {
		color: #fff;
		background: var(--color-main);
		padding: rem(60);
		@media (max-width: em($md1)) {
			padding: rem(50);
		}
		@media (max-width: em($md2)) {
			padding: rem(40);
			order: 2;
		}
		@media (max-width: em($md3)) {
			padding: rem(30);
		}
		@media (max-width: em($md4)) {
			padding: rem(20);
		}
	}
	// .projects-slide__title
	&__title {
		color: #fff;
		font-family: "Circe";
		font-size: rem(32);
		font-weight: 700;
		line-height: normal;
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md1)) {
			margin: 0px 0px rem(25) 0px;
			font-size: rem(28);
		}
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(20) 0px;
			font-size: rem(24);
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(15) 0px;
			font-size: rem(20);
		}
	}
	// .projects-slide__text
	&__text {
		font-size: rem(21);
		font-weight: 500;
		line-height: 171.429%;
		@media (max-width: em($md2)) {
			font-size: rem(20);
		}
		@media (max-width: em($md3)) {
			font-size: rem(18);
		}
	}
	// .projects-slide__img
	&__img {
		height: 100%;
		@media (max-width: em($md2)) {
			height: rem(200);
			order: 1;
		}
		@media (max-width: em($md3)) {
			height: rem(150);
		}
	}
}

//===============================================================
.partners {
	padding: rem(90) 0;
	@media (max-width: em($md2)) {
		padding: rem(80) rem(0);
	}
	@media (max-width: em($md3)) {
		padding: rem(50) rem(0);
	}
	// .partners__container
	&__container {
	}
	// .partners__title
	&__title {
		text-align: center;
		margin: 0px 0px rem(40) 0px;
		@media (max-width: em($md2)) {
			margin: 0px 0px rem(30) 0px;
		}
	}
	// .partners__wrapper
	&__wrapper {
		padding: 0px rem(32);
		position: relative;
	}
	// .partners__arrows
	&__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		translate: 0 -50%;
		display: flex;
		justify-content: space-between;
		z-index: 5;
		pointer-events: none;
	}
	// .partners__arrow
	&__arrow {
		pointer-events: all;
		padding: rem(10);
		cursor: pointer;
		// .partners__arrow_prev
		&_prev {
			translate: rem(-20) 0;
		}
		// .partners__arrow_next
		&_next {
			translate: rem(20) 0;
		}
	}
}

//---------------------------------------------------------------
.partners-slider {
	// .partners-slider__slides
	&__slides {
	}
	// .partners-slider__slide
	&__slide {
	}
	// .partners-slider__img
	&__img {
		text-align: center;
	}
}

//===============================================================
.form-section {
	padding: rem(60) 0px rem(150) 0px;
	@media (max-width: em($md2)) {
		padding: rem(50) 0px rem(100) 0px;
	}
	@media (max-width: em($md3)) {
		padding: rem(30) 0px rem(70) 0px;
	}
	// .form-section__container
	&__container {
	}
	// .form-section__title
	&__title {
		text-align: center;
		margin: 0px 0px rem(40) 0px;
	}
}

.main-form {
	max-width: rem(750);
	margin: 0 auto;
	display: grid;
	gap: rem(30);
	// .main-form__row
	&__row {
		// .main-form__row_1
		&_1 {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: rem(10);
			@media (max-width: em($md3)) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
		// .main-form__row_2
		&_2 {
			display: grid;
			grid-template-columns: 1fr auto;
			gap: rem(30);
			@media (max-width: em($md3)) {
				gap: rem(15);
			}
		}
		// .main-form__row_3
		&_3 {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: rem(30) rem(55);
			@media (max-width: em($md2)) {
				grid-template-columns: 1fr;
			}
		}
	}
	// .main-form__column
	&__column {
		// .main-form__column_textarea
		&_textarea {
		}
		// .main-form__column_socials
		&_socials {
			display: grid;
			align-content: center;
			gap: rem(15);
			a {
				display: inline-flex;
			}
		}
		// .main-form__column_action
		&_action {
		}
		// .main-form__column_contacts
		&_contacts {
		}
	}
	// .main-form__input
	&__input {
	}
	// .main-form__btn
	&__btn {
	}
}

.form-contacts {
	display: grid;
	gap: rem(15);
	// .form-contacts__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15) rem(30);
	}
	// .form-contacts__item
	&__item {
		display: flex;
		gap: rem(15);
		color: #000;
		font-size: rem(21);
	}
}
